@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --background: hsl(212, 45%, 89%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(218, 44%, 22%);
  --card-muted: hsl(216, 15%, 48%);
}

.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 140%;
  letter-spacing: 0.2px;
  font-size: 0.938rem;
}

.outfit-bold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0px;
  font-size: 1.375rem;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  background-color: var(--background);
}

.container {
  max-inline-size: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-block-size: 100vh;
}

.card {
  background-color: var(--card);
  padding: 16px 16px 40px 16px;
  border-radius: 20px;
  max-inline-size: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1rem;
}

.card img {
  max-inline-size: 100%;
  max-block-size: 100%;
  object-fit: contain;
  border-radius: 10px;
  margin-block-end: 24px;
}

.card .title {
  color: var(--card-foreground);
  margin-block-end: 16px;
  max-inline-size: 256px;
}

.card .desc {
  color: var(--card-muted);
  max-inline-size: 256px;
}
